@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  box-sizing: border-box;
}

body {
  background: #ddd;
  height: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.5;
}

#home-trigger {
  position: fixed;
  width: 110px;
  height: 98px;
  left: -30px;
  top: 10px;
  cursor: pointer;
  z-index: 200;
  -webkit-transform-origin: 110px 0px;
  -moz-transform-origin: 110px 0px;
  -ms-transform-origin: 110px 0px;
  -o-transform-origin: 110px 0px;
  transform-origin: 110px 0px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.fa-home {
  color: white;
}

.nav-trigger {
  position: fixed;
  width: 110px;
  height: 98px;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 200;
  -webkit-transform-origin: 110px 0px;
  -moz-transform-origin: 110px 0px;
  -ms-transform-origin: 110px 0px;
  -o-transform-origin: 110px 0px;
  transform-origin: 110px 0px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.nav-trigger.open {
  background: #222;
}

.nav-trigger.close {
  background: transparent;
}

.line {
  display: block;
  position: absolute;
  width: 80px;
  height: 8px;
  background: #fff;
  left: 15px;
  -webkit-transform-origin: 0px 4px;
  -moz-transform-origin: 0px 4px;
  -ms-transform-origin: 0px 4px;
  -o-transform-origin: 0px 4px;
  transform-origin: 0px 4px;
  -webkit-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -moz-transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -moz-transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.24s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.line:nth-child(1) {
  top: 16px;
}

.line:nth-child(2) {
  top: 44px;
}

.line:nth-child(3) {
  top: 72px;
}

.close .line:nth-child(1) {
  -webkit-transform: translateX(11px) rotate(45deg);
  -moz-transform: translateX(11px) rotate(45deg);
  -ms-transform: translateX(11px) rotate(45deg);
  -o-transform: translateX(11px) rotate(45deg);
  transform: translateX(11px) rotate(45deg);
}

.close .line:nth-child(2) {
  opacity: 0;
}

.close .line:nth-child(3) {
  -webkit-transform: translateX(11px) rotate(-45deg);
  -moz-transform: translateX(11px) rotate(-45deg);
  -ms-transform: translateX(11px) rotate(-45deg);
  -o-transform: translateX(11px) rotate(-45deg);
  transform: translateX(11px) rotate(-45deg);
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

nav.out {
  pointer-events: none;
}

nav.in {
  pointer-events: auto;
}

nav a {
  text-decoration: none;
  color: #ddd;
}

nav ul, li {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

nav ul {
  height: 100%;
  width: 100%;
  position: absolute;
}

nav li {
  height: 20%;
  position: relative;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  color: #ddd;
  font-family: "Patua One", cursive;
}

nav li:hover {
  background: #364e41;      /*漢堡背景色*/
}

nav.in li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s, opacity 0.5s linear 0.1s;
}

nav.in li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s, opacity 0.5s linear 0.2s;
}

nav.in li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s, opacity 0.5s linear 0.3s;
}

nav.in li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s, opacity 0.5s linear 0.4s;
}

nav.in li:nth-child(5) {
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, opacity 0.5s linear 0.5s;
}

nav.out li:nth-child(5) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s, opacity 0.3s linear 0s;
}

nav.out li:nth-child(4) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.05s, opacity 0.3s linear 0.05s;
}

nav.out li:nth-child(3) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, opacity 0.3s linear 0.1s;
}

nav.out li:nth-child(2) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s, opacity 0.3s linear 0.15s;
}

nav.out li:nth-child(1) {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.2s, opacity 0.3s linear 0.2s;
}

nav.out li {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  -o-transform: translateY(300%);
  transform: translateY(300%);
  opacity: 0;
}

nav.in li {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.nav-label {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  text-transform: uppercase;
}

.header {
  　
}
/*  big image  */
.index {
  background: url(../img/home.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-attachment: fixed;
}

.animal {
  background: url(../img/animal.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-attachment: fixed;
}

.animal h1:hover {
  color: rgb(212, 212, 212);
}

.plastic {
  background: url(../img/plastic.png);
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-attachment: fixed;
}

.plastic h1:hover {
  color: rgb(212, 212, 212);
}

.water {
  background: url(../img/water.png);
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-attachment: fixed;
}

.water h1:hover {
  color: rgb(212, 212, 212);
}

.air {
  background: url(../img/air.png);
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  top: 0px;
  background-attachment: fixed;
}

.air h1:hover {
  color: rgb(212, 212, 212);
}

/*  big image  */

.header h1 {
  width: 100%;
  color: #fff;
  position: absolute;
  margin: 0;
  font-family: "Patua One", cursive;
  text-align: center;
  display: block;
  top: 50%;
}

.header h2 {
  width: 100%;
  color: #ddd;
  position: absolute;
  margin: 0;
  font-family: "Patua One", cursive;
  text-align: center;
  display: block;
  top: 70%;
}

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 85%;
  max-width: 1350px;
  padding: 0px;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 150px; /* Same height as footer */
}


/* Scroll Arrow*/
.fa {
  cursor: pointer;
}

.fa p {
  font-size: 1.5vw;
  font-family: 'Open Sans', sans-serif;
}

.fa-angle-down {
  left: 75%;
  position: absolute;
  bottom: 0;
  -webkit-animation: jump 1.5s infinite;
          animation: jump 1.5s infinite;
}
.fa-angle-up {
  position: absolute;
  bottom: 1px;
  right: 30px;
  color: #000;
  font-size: 1em;
}
@-webkit-keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
/* Scroll Arrow*/



/*  column  */
.row .box {
  margin-bottom: 80px;
}
.row .box p {
  font-size: 16px;
}
.row .box h2 {
  font-weight: bold;
  font-size: 20px;
}
.row div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
  margin: auto;
	padding: 0;
	background: #fff;
	overflow: hidden;
  cursor: pointer;
}
figure:hover+span {
	bottom: -40px;   /*調整圖片下文字距離*/
	opacity: 1;
}
/*  column  */

/* Gray Scale */

.row figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.row figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* Gray Scale */




/* Footer */
.fixed_footer{
  position: relative;
  width: 100%;
  height: 150px;
  background: #111;
  position: fixed; left: 0; bottom: 0;
  z-index: -100;
  background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}

.fixed_footer p{
  column-count: 2;
  column-gap: 50px;
  font-size: 1em;
  font-weight: 300;
}

/*  social  */
#social {
  margin: 20px 10px;
  text-align: center;
}

#social a {
  text-decoration: none;
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
}



/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      color: #3a5876;
      background: #fff;
}
/*  social  */

.copyright {
  color: #ddd;
  font-size: 13px;
  width: 200%;
  position: absolute;
  text-align: center;
}

/* Footer */
